* {
	font-family: arial,sans-serif;
}
span {
	margin: 0 6px;
}
.header {
	text-align: right;
	padding: 8px 25px 0 0;
	font-size: small;
}
.header img{
		vertical-align: middle;
}
.header a {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: underline;
}
button {
	background-color: #4387fd;
	color: white;
	padding: 6px 12px;
	border-radius: 2px;
	font-weight: bold;
	border: 1px solid #4387fd;
}
.logo {
	margin: 0 auto;
	text-align: center;
	margin-top:150px;
}
.search {
	margin: 0 auto;
	text-align: center;
	padding-top: 25px;
}
.searchbox {
	border:1px solid rgba(0, 0, 255, 0.25);
	width: 550px; 
	padding: 10px 10px;
}
.button {
	margin: 0 auto;
	text-align: center;
	padding-top: 30px;
}
.box {
	border: 1px solid #f2f2f2;
	padding: 10px 20px; 
	background-color: #f2f2f2;
	color: #757575;
	font-weight: bold;
}
.searchbox:hover {
	border: 1px solid rgba(0, 0, 0, 0.40);
}
.box:hover {
	background-color: #f8f8f8;
	border: 1px solid #c6c6c6;
	box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    font-weight: bold;
    color: black;
}
.footer {
	bottom: 0;
	right: 0;
	left: 0;
	position: absolute;
	background-color: #f2f2f2;
	border: 1px solid #f2f2f2;
	padding: 12px 30px;
	font-size: small;
}
.footer a {
	color: #757575;
	text-decoration: none;
}
.footer a:hover {
	text-decoration: underline;
}
.footer div{
	display: inline;
}
.r_foot {
	float: right;
}
.footer span{
	margin: 0 15px;
}